#menu, #about, #how2play {
    background-color: #0033CC;
    border: 2px solid #003399;
    text-align: center;
    font-family: Courier, serif;
    border-radius: 5px;
    width: 500px;
    height: 475px;
    margin: auto;
}
.button {
    width: 115px;
    height: 35px;
    background-color: #3366CC;
    box-shadow: 5px 5px 3px #888888;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}

.button:hover {
    background: linear-gradient(180deg, #3399FF, #0066CC);
}

.button:active {
    background: linear-gradient(0deg, #3399FF, #0066CC);
}

canvas {
    border-radius: 5px;
}

#game {
    border: 2px solid #003399;
    border-radius: 5px;
    margin: auto;
}
