h1 {
    text-align: center;
    padding: 10px;
}

.menuDiv {
    background-image: url(Assets/Media/Images/GenWA-AmericanWar.jpg);
    background-color: #0033CC;
    
    border: 2px solid #003399;
    border-radius: 5px;
    
    text-align: center;
    font-family: Courier, serif;
    
    width: 700px;
    height: 675px;
    margin: auto;
    position: absolute;
    top: 50px;
    right: 30%;
}

.button {
    width: 115px;
    height: 35px;
    
    background-color: #3366CC;
    border-radius: 10px;
    box-shadow: 5px 5px 3px #888888;
    
    text-align: center;
    
    display: inline-block;
    margin: auto;
}

.button:hover {
    background: linear-gradient(180deg, #3399FF, #0066CC);
}

.button:active {
    background: linear-gradient(0deg, #3399FF, #0066CC);
}

canvas {
    border-radius: 5px;
}

#game {
    border: 2px solid #003399;
    border-radius: 5px;
    
    margin: auto;
}